@* Add the model to the view to use it *@
@model StudentMVC.Models.Student
@* Extending the Layout *@
@{
    Layout = "_Layout";
}

@section header {}

<div class="container mt-5">

    <div class="row my-1">
        <div class="col-12">
            @Html.Partial("_Student")
        </div>
    </div>

</div>